# THE GOAL

In [1]:
import os

from pyspark.sql import SparkSession
import pyspark.sql.functions as F

# import data types to cast data and define schema
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, \
                                DecimalType, FloatType

spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Python Spark SQL basic example") \
    .config("spark.sql.warehouse.dir", "hdfs://namenode/sql/metadata/hive")\
    .enableHiveSupport()\
    .getOrCreate()
# .config("spark.sql.warehouse.dir", "hdfs://namenode/sql/metadata/hive") \

hive_folder = "/Users/vk/Documents/Python/holmes_moriarty_sql/src/hive_data"

In [2]:
%rm -rf metastore_db/

In [3]:
# select database to use and create tables in

spark.sql("use default").show(10, False)  # 'default' is a pre-created database where we can create tables
# (we could have skipped this statement but it makes it more explicity which database we use)

++
||
++
++

In [4]:
spark.sql("show databases").show(10, False)

+---------+
|namespace|
+---------+
|default  |
+---------+

In [5]:


# we could also create our tables in our own custom database using:
# spark.sql("create database moriarty_db")
# spark.sql("use moriarty_db")
spark.sql("show tables").show(10, False)

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [6]:
# tables = [i["tableName"] for i in spark.sql("show tables").collect()]
# tables
# for table in tables:
#     spark.sql("drop table if exists {}".format(table))
    
# spark.sql("show tables").show(10, False)

In [7]:
%ls data

crime_type_profit_France.txt          criminals_Germany.csv
crime_type_profit_Germany.txt         criminals_Netherlands.csv
crime_type_profit_Netherlands.txt     criminals_United Kingdom.csv
crime_type_profit_United Kingdom.txt  id_dates.csv
criminals_France.csv

In [8]:
criminals_country_template="""CREATE EXTERNAL TABLE IF NOT EXISTS criminals_{} (
 id int,
 name string,
 alias string,
 latitude float,
 longitude float,
 country string
    )
STORED AS ORC
LOCATION '{}'
"""

In [9]:
def apply_schema(df, schema):
    """"""
    # apply schema
    df = spark.createDataFrame(df.rdd, schema=schema)
    
    return df

In [10]:
# get the data

def rename_cols(df, new_col_names):
    """"""
    for col, new_col in zip(df.columns, new_col_names):
        df = df.withColumnRenamed(col, new_col)
        
    return df

#explore the dataframes: column names, shapes and combine into a single dataframe
country_list = ["United Kingdom", "Germany", "Netherlands", "France"]


schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("alias", StringType(), True),
    StructField("latitude", FloatType(), True),
    StructField("longitude", FloatType(), True),
    StructField("country", StringType(), True)
])

for country_ in country_list:
    file_name = "./data/criminals_{}.csv".format(country_)
    df = spark.read.csv(file_name, header=True, inferSchema=True)
    print("Country: {}, rows: {}".format(country_, df.count()))
    new_col_names = ["id", "name", "alias", "latitude", "longitude"]
    df = rename_cols(df, new_col_names)
    df = df.withColumn('country', F.lit(country_))
    country_ = "_".join(country_.split()).lower()  # 'United Kingdom' as space in it and thus is an illigal table name
    df = apply_schema(df, schema)
    location = os.path.join(hive_folder, 'criminals_{}'.format(country_))
    df.persist()
    df.write.orc(location, mode="overwrite")
    df.unpersist()

    
    # register table
    spark.sql(criminals_country_template.format(country_, location))
    
spark.sql("show tables").show(20, False)

Country: United Kingdom, rows: 306
Country: Germany, rows: 264
Country: Netherlands, rows: 250
Country: France, rows: 349
+--------+------------------------+-----------+
|database|tableName               |isTemporary|
+--------+------------------------+-----------+
|default |criminals_france        |false      |
|default |criminals_germany       |false      |
|default |criminals_netherlands   |false      |
|default |criminals_united_kingdom|false      |
+--------+------------------------+-----------+

In [11]:
spark.sql("select * from criminals_united_kingdom").show(3, False)

+---+------------------------+-----+--------+---------+--------------+
|id |name                    |alias|latitude|longitude|country       |
+---+------------------------+-----+--------+---------+--------------+
|0  |Ms. Diane Barnett       |null |51.3327 |-0.0328  |United Kingdom|
|1  |Elizabeth McDonald      |null |51.3732 |-0.0396  |United Kingdom|
|2  |Jacqueline Martin-Winter|null |51.3536 |-0.223   |United Kingdom|
+---+------------------------+-----+--------+---------+--------------+
only showing top 3 rows

In [12]:
df_criminals_combined = spark.sql("""select * from criminals_france
          union
          select * from criminals_germany
          union
          select * from criminals_netherlands
          union
          select * from criminals_united_kingdom""")

print("criminals_unioned count: {}".format(df_criminals_combined.count()))

df_criminals_combined.show(3)

criminals_unioned count: 1169
+---+--------------------+-----+--------+---------+-------+
| id|                name|alias|latitude|longitude|country|
+---+--------------------+-----+--------+---------+-------+
|  0|Henriette Thomas ...| null| 48.9072|   2.2521| France|
|190|In√®s Martins de l...| null| 49.0029|    2.251| France|
|215|         Isaac Labbe| null| 48.8873|   2.3601| France|
+---+--------------------+-----+--------+---------+-------+
only showing top 3 rows

In [13]:
df_criminals_combined.groupBy("country").agg(F.count("*")).show(10, False)

+--------------+--------+
|country       |count(1)|
+--------------+--------+
|Germany       |264     |
|France        |349     |
|United Kingdom|306     |
|Netherlands   |250     |
+--------------+--------+

In [14]:
# register temp table
df_criminals_combined.registerTempTable("criminals")

In [15]:
criminals_df = spark.sql("select distinct country from criminals")
# print("Table (read-in) count: {}".format(criminals_df.count()))
criminals_df.show(10, False)

+--------------+
|country       |
+--------------+
|Germany       |
|France        |
|United Kingdom|
|Netherlands   |
+--------------+

In [16]:
# calculate mean latitude and longitude to identify the major financial centers (cities)
# (copy and paste the lat, lon values into Google Maps)
# dataframe.filter(df['salary'] > 100000).agg({"age": "avg"})

spark.sql("""select country, 
                    AVG(latitude) as avg_lat, 
                    AVG(longitude) as avg_lon
                    from criminals
                    group by country
                    order by country""").show(10, False)

+--------------+------------------+--------------------+
|country       |avg_lat           |avg_lon             |
+--------------+------------------+--------------------+
|France        |48.86060943166301 |2.364566761989648   |
|Germany       |50.097135254831024|8.678964380061988   |
|Netherlands   |52.37530560302734 |4.900951610565185   |
|United Kingdom|51.50456336276983 |-0.12400588218790493|
+--------------+------------------+--------------------+

In [17]:
spark.sql("""select country,
                    ROUND(AVG(latitude), 4) as avg_lat,
                    ROUND(AVG(longitude), 4) as avg_lon
                from criminals
                 group by country
                 order by country""").show(10, False)

+--------------+-------+-------+
|country       |avg_lat|avg_lon|
+--------------+-------+-------+
|France        |48.8606|2.3646 |
|Germany       |50.0971|8.679  |
|Netherlands   |52.3753|4.901  |
|United Kingdom|51.5046|-0.124 |
+--------------+-------+-------+

In [18]:
# add the city name to the df

#it can be done using a series of if/else statements, such as 'if country_ == 'France': city = 'Paris', etc. OR
# using a dictionary as below:
country_city_dict = {"United Kingdom": "London", "Germany": "Frankfurt", "Netherlands": "Amsterdam", "France": "Paris"}
country_city_dict

{'United Kingdom': 'London',
 'Germany': 'Frankfurt',
 'Netherlands': 'Amsterdam',
 'France': 'Paris'}

In [19]:
spark.sql("""select *, 
                case 
                    when country = 'United Kingdom' then 'London'
                    when country = 'France' then 'Paris'
                    when country = 'Germany' then 'Frankfurt'
                    when country = 'Netherlands' then 'Amsterdam'
                end as city
            from criminals""").show(10, False)

+---+-------------------------+-----+--------+---------+-----------+---------+
|id |name                     |alias|latitude|longitude|country    |city     |
+---+-------------------------+-----+--------+---------+-----------+---------+
|0  |Henriette Thomas du Peron|null |48.9072 |2.2521   |France     |Paris    |
|190|In√®s Martins de la Morel |null |49.0029 |2.251    |France     |Paris    |
|215|Isaac Labbe              |null |48.8873 |2.3601   |France     |Paris    |
|244|Aim√©e-Margot Martins     |null |48.885  |2.5288   |France     |Paris    |
|297|Olivier Lopez            |Flako|48.616  |2.1133   |France     |Paris    |
|326|Philippine Traore        |null |49.0171 |2.4338   |France     |Paris    |
|23 |Dipl.-Ing. Dennis Hesse  |null |50.0266 |8.6771   |Germany    |Frankfurt|
|202|Ali Dowerg               |null |50.1855 |8.5548   |Germany    |Frankfurt|
|243|Tomas Mies               |null |50.0033 |8.9106   |Germany    |Frankfurt|
|232|Liam Janssen-Frankhuizen |null |52.5289 |4.8684   |Netherlands|Amsterdam|
+---+-------------------------+-----+--------+---------+-----------+---------+
only showing top 10 rows

In [20]:
# fill Nas with empty string 
# we'll also assign this new data to a variable name for saving and creating a new table to use later
# (note that 'show' method is moved to the spark dataframe)
criminals_with_city_df = spark.sql("""select id, name,
                case
                    when alias is null then ''
                    else alias
                end as alias,
                country,
                case 
                    when country = 'United Kingdom' then 'London'
                    when country = 'France' then 'Paris'
                    when country = 'Germany' then 'Frankfurt'
                    when country = 'Netherlands' then 'Amsterdam'
                end as city
            from criminals""")

criminals_with_city_df.cache()
criminals_with_city_df.registerTempTable("criminals_with_city")

criminals_with_city_df.show(10, False)

+---+-------------------------+-----+-----------+---------+
|id |name                     |alias|country    |city     |
+---+-------------------------+-----+-----------+---------+
|0  |Henriette Thomas du Peron|     |France     |Paris    |
|190|In√®s Martins de la Morel |     |France     |Paris    |
|215|Isaac Labbe              |     |France     |Paris    |
|244|Aim√©e-Margot Martins     |     |France     |Paris    |
|297|Olivier Lopez            |Flako|France     |Paris    |
|326|Philippine Traore        |     |France     |Paris    |
|23 |Dipl.-Ing. Dennis Hesse  |     |Germany    |Frankfurt|
|202|Ali Dowerg               |     |Germany    |Frankfurt|
|243|Tomas Mies               |     |Germany    |Frankfurt|
|232|Liam Janssen-Frankhuizen |     |Netherlands|Amsterdam|
+---+-------------------------+-----+-----------+---------+
only showing top 10 rows

In [21]:
spark.sql("select distinct country from criminals").collect()

[Row(country='Germany'),
 Row(country='France'),
 Row(country='United Kingdom'),
 Row(country='Netherlands')]

In [22]:
# check that the data is readable
spark.sql("select distinct country from criminals_with_city").collect()

[Row(country='Germany'),
 Row(country='France'),
 Row(country='United Kingdom'),
 Row(country='Netherlands')]

In [23]:
criminals_with_city_df.groupBy("country").agg(F.count("*")).show(10, False)

+--------------+--------+
|country       |count(1)|
+--------------+--------+
|Germany       |264     |
|France        |349     |
|United Kingdom|306     |
|Netherlands   |250     |
+--------------+--------+

In [24]:
spark.sql("show tables").show(20, False)

+--------+------------------------+-----------+
|database|tableName               |isTemporary|
+--------+------------------------+-----------+
|default |criminals_france        |false      |
|default |criminals_germany       |false      |
|default |criminals_netherlands   |false      |
|default |criminals_united_kingdom|false      |
|        |criminals               |true       |
|        |criminals_with_city     |true       |
+--------+------------------------+-----------+

# Task 2
Add crime_type and profit info to criminals. 
#(merge/join) criminals table with the crime type and profit information.

In [25]:
spark.sql("select distinct country from criminals").collect()

[Row(country='Germany'),
 Row(country='France'),
 Row(country='United Kingdom'),
 Row(country='Netherlands')]

- Great, Watson! 
- Now we need to know what everyone of those supspects did wrong, that is the crime type, and desirably, how much they profited from it: Moriarty is not a small fish. He is in the category with th largest total sales.

- You'll need to add the crime type and the profit from the files to the table you already put together. Be mindful of the file types. I also believe that the separator in these file maybe different from the files you used previously.
-Moriarty made one of the top 5 sales last year. He is not stupid for nicknames, I am pretty sure he doesn't have an alias.

# Solution (task 2)

In [26]:
%ls data

crime_type_profit_France.txt          criminals_Germany.csv
crime_type_profit_Germany.txt         criminals_Netherlands.csv
crime_type_profit_Netherlands.txt     criminals_United Kingdom.csv
crime_type_profit_United Kingdom.txt  id_dates.csv
criminals_France.csv

In [27]:
spark.sql("show tables").show(20, False)

+--------+------------------------+-----------+
|database|tableName               |isTemporary|
+--------+------------------------+-----------+
|default |criminals_france        |false      |
|default |criminals_germany       |false      |
|default |criminals_netherlands   |false      |
|default |criminals_united_kingdom|false      |
|        |criminals               |true       |
|        |criminals_with_city     |true       |
+--------+------------------------+-----------+

In [28]:
create_table_template="""CREATE EXTERNAL TABLE IF NOT EXISTS crime_type_profit_{} (
 name string,
 crime_type string,
 profit string,
 country string
    )
STORED AS ORC
LOCATION '{}'
"""

# get the data

#explore the dataframes: column names, shapes and combine into a single dataframe
country_list = ["United Kingdom", "Germany", "Netherlands", "France"]


schema = StructType([
    StructField("name", StringType(), True),
    StructField("crime_type", StringType(), True),
    StructField("profit", StringType(), True),
    StructField("country", StringType(), True)
])

for country_ in country_list:
    file_name = "./data/crime_type_profit_{}.txt".format(country_)
    df = spark.read.csv(file_name, header=True, inferSchema=True, sep=" ")
    print("Country: {}, rows: {}".format(country_, df.count()))

    df = df.withColumn('country', F.lit(country_))
    country_ = "_".join(country_.split()).lower()  # 'United Kingdom' has space in it and thus is an illigal table name
    print("country_: ", country_)
    location = os.path.join(hive_folder, 'crime_type_profit_{}'.format(country_))
    print("location: ", location)
    df = apply_schema(df, schema)
    df.persist()
    df.write.orc(location, mode="overwrite")
    df.unpersist()
    
    # register table
    spark.sql(create_table_template.format(country_, location))
    
    
    
    
spark.sql("show tables").show(20, False)

Country: United Kingdom, rows: 306
country_:  united_kingdom
location:  /Users/vk/Documents/Python/holmes_moriarty_sql/src/hive_data/crime_type_profit_united_kingdom
Country: Germany, rows: 264
country_:  germany
location:  /Users/vk/Documents/Python/holmes_moriarty_sql/src/hive_data/crime_type_profit_germany
Country: Netherlands, rows: 250
country_:  netherlands
location:  /Users/vk/Documents/Python/holmes_moriarty_sql/src/hive_data/crime_type_profit_netherlands
Country: France, rows: 349
country_:  france
location:  /Users/vk/Documents/Python/holmes_moriarty_sql/src/hive_data/crime_type_profit_france
+--------+--------------------------------+-----------+
|database|tableName                       |isTemporary|
+--------+--------------------------------+-----------+
|default |crime_type_profit_france        |false      |
|default |crime_type_profit_germany       |false      |
|default |crime_type_profit_netherlands   |false      |
|default |crime_type_profit_united_kingdom|false      |
|default |criminals_france                |false      |
|default |criminals_germany               |false      |
|default |criminals_netherlands           |false      |
|default |criminals_united_kingdom        |false      |
|        |criminals                       |true       |
|        |criminals_with_city             |true       |
+--------+--------------------------------+-----------+

In [29]:
crime_profit = spark.sql("""select * from crime_type_profit_france
          union
          select * from crime_type_profit_germany
          union
          select * from crime_type_profit_netherlands
          union
          select * from crime_type_profit_united_kingdom""")

print("crime_profit count: {}".format(crime_profit.count()))

crime_profit.registerTempTable("crime_profit")

crime_profit.show(3)

crime_profit count: 1169
+---------------+-------------+------+-----------+
|           name|   crime_type|profit|    country|
+---------------+-------------+------+-----------+
|    Isaac David|        theft|   204|     France|
|Nikolaj Kallert|pickpocketing|    47|    Germany|
|   Leah Winters|    drug sale|  3510|Netherlands|
+---------------+-------------+------+-----------+
only showing top 3 rows

In [30]:
crime_profit.groupBy("country").agg(F.count("*")).show(10, False)

+--------------+--------+
|country       |count(1)|
+--------------+--------+
|Germany       |264     |
|France        |349     |
|United Kingdom|306     |
|Netherlands   |250     |
+--------------+--------+

In [31]:
# print(criminals.select("country").distinct().collect())
print(criminals_with_city.select("country").distinct().collect())

NameError: name 'criminals_with_city' is not defined

In [ ]:
criminals_with_city.select("country").distinct().collect()

In [ ]:
spark.sql("""select  a.id, a.name, a.alias, b.crime_type, b.profit, b.country, a.city
            from criminals_with_city a
            left join crime_profit b
                on a.name = b.name and a.country = b.country""").show(10, False)

In [ ]:
spark.sql("""select count(*) as row_count from (
                select  a.id, a.name, a.alias, b.crime_type, b.profit, b.country
                from criminals a
                left join crime_profit b
                    on a.name = b.name and a.country = b.country)""").show(10, False)

In [ ]:
# order by profit (descending) and 
# cast profit as int (to keep the same with pyspark notebook; not necessary here)
spark.sql("""select  a.id, a.name, a.alias, b.crime_type, CAST(b.profit AS INT), b.country
            from criminals a
            left join crime_profit b
                on a.name = b.name and a.country = b.country
            order by profit DESC""").show(10, False)

In [ ]:
# find the most profitable crime type

spark.sql("""select crime_type, sum(profit) as total_profit
            from criminals a
            left join crime_profit b
                on a.name = b.name and a.country = b.country
            group by crime_type
            order by total_profit DESC""").show(10, False)

In [ ]:

spark.sql("show tables").show(10)

In [ ]:
# find the country where with the highest weapons sales

spark.sql("""select a.country, sum(profit) as total_profit
            from criminals a
            left join crime_profit b
                on a.name = b.name and a.country = b.country
            where crime_type = 'weapons sale'
            group by a.country
            order by total_profit DESC
            """).show(10, False)

In [ ]:
# generate data with joined data 

criminals_with_profit = spark.sql("""select  a.id, a.name, a.alias, b.crime_type, b.profit, b.country
            from criminals_with_city a
            left join crime_profit b
                on a.name = b.name and a.country = b.country""")

criminals_with_profit.cache()
criminals_with_profit.registerTempTable("criminals_with_profit")

In [ ]:
spark.sql("show tables").show(20, False)

In [ ]:
spark.sql("select * from criminals_with_profit").show(5, False)

In [ ]:
criminals_with_profit.groupBy("country").agg(F.count("*")).show(10, False)

In [ ]:
spark.sql("""select name, profit 
            from criminals_with_profit 
            where crime_type LIKE 'weapon%' 
                and country = 'France'
            order by profit DESC
            """).show(5, False)

# PART 3

Add date (last deal date) Moriarty does not deal on Sundays

In [ ]:
id_dates = spark.read.csv("./data/id_dates.csv", header=True, inferSchema=True)
print("id_dates shape: {}".format(id_dates.count()))
id_dates.show(4)

In [ ]:
df_selected_with_dates = df_city_profit.join(id_dates, on=["id", "country"], how="left")
print(df_selected_with_dates.count())
df_selected_with_dates.show(3)

In [ ]:
df_selected_with_dates.printSchema()

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType, StringType


def weekday(date):
    """ Generate day of the week based on date (as string or as datetime object)"""
    
    if isinstance(date, str):
        from datetime import datetime
        
        date = datetime.strptime(date, "%Y-%m-%d")  # change the format if necessary
        
    return date.strftime("%A")


weekday_udf = udf(weekday, StringType())

# conversion to DateType is not necessary as it is handled inside the function
# here it is offered as an example of re-casting
df_selected_with_dates = df_selected_with_dates.withColumn("date", F.col("date").cast(DateType()))

df_selected_with_dates = df_selected_with_dates.withColumn("weekdate", weekday_udf("date").alias("weekday"))
df_selected_with_dates.show(10)

In [ ]:
crime_type_big_sales

In [ ]:
# Show top 5 salesmen in the selected country
df_final = df_selected_with_dates.where("""country = '{}' 
                                            and alias = '' 
                                            and crime_type = '{}'
                                            and weekday != 'Sunday'
                                       """.format(top_country, crime_type_big_sales))

df_final.show(5)

In [ ]:
moriarty_name =  df_final.select("name").collect()[0][0]
print("The name Moriarty is hiding behind: {}".format(moriarty_name))