In [7]:
import pyspark
from pyspark import SQLContext, SparkContext

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [10]:
dept = [("Finance",10), 
        ("Marketing",20), 
        ("Sales",30), 
        ("IT",40) 
      ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [12]:
%ls data

crime_type_profit_France.txt          criminals_Germany.csv
crime_type_profit_Germany.txt         criminals_Netherlands.csv
crime_type_profit_Netherlands.txt     criminals_United Kingdom.csv
crime_type_profit_United Kingdom.txt  id_dates.csv
criminals_France.csv

In [13]:
test = spark.read.csv("./data/criminals_France.csv", header = True, inferSchema = True)
test.show(10, False)

+---+---------------------+----------+--------+---------+
|id |nom                  |pseudonyme|latitude|longitude|
+---+---------------------+----------+--------+---------+
|0  |Antoine Prevost      |Travieso  |48.9836 |2.5326   |
|1  |Thierry Martinez     |null      |48.9333 |2.5257   |
|2  |Denise Chartier      |null      |48.7534 |2.53     |
|3  |Gabriel Bertin       |null      |48.7097 |2.3839   |
|4  |Adrien Leblanc       |Sniper    |49.0866 |2.3947   |
|5  |Lucas Vincent        |null      |48.8951 |2.5886   |
|6  |Honoré du Legrand    |null      |49.0178 |2.1036   |
|7  |Richard Durand       |null      |49.0111 |2.3223   |
|8  |Lucie-Christine Begue|null      |48.6688 |2.5693   |
|9  |Dorothée Toussaint   |null      |49.0161 |2.1518   |
+---+---------------------+----------+--------+---------+
only showing top 10 rows

In [ ]:
countries